body {
  margin: 0;
  color: black;
  background-color: rgba(175, 175, 175, 0.2);
}

a {
  text-decoration: none;
}

/* Navbar */
.logo {
  width: 280px;
  height: 80px;
  float: left;
}

.logo:hover {
  cursor: pointer;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 42px;
}

.toggle-button i {
  display: none;
  justify-self: center;
  position: relative;
  font-size: 42px;
  color: white;
}

#navbar {
  font-weight: 600;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: 			hidden;*/
  height: 80px;
  font-size: 0;
}

#navbar li {
  height: 100%;
  float: right;
}

/* Shown responsive nav */
.shown {
  display: flex;
}

#navbar li a.active {
  background-color: rgb(30, 65, 95);
  height: 0;
  transition: ease-in .3s;
}

#navbar li a.active:hover {
  color: rgb(100, 255, 218);
}

#navbar li a,
.dropbtn {
  transition: 0.5s ease-in-out;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 31px 31px;
  text-decoration: none;
  width: 80px;
  font-size: 18px;
}

#navbar li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(30, 65, 95);
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  width: 142px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 128px;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: rgb(140, 185, 220);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s ease-in-out;
  background-color: rgba(1, 1, 1, 0);
}

.sticky li a.active {
  transition: ease-in 0.4s;
  background-color: rgba(1, 1, 1, 0) !important;
}

.normal-nav {
  transition: 0.5s ease-in-out;
  background-color: rgb(30, 65, 95);
}

/* Landing Page */

.landing {
  background-image: url(../background/solar_system.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* SPLIT */
.split-1 {
  text-align: center;
  width: 100%;
  height: 35px;
  background-color: #64a8df;
}

.split-1 h2 {
  margin: 0;
  padding-top: 5px;
}

.split-2 {
  text-align: center;
  width: 100%;
  height: 80px;
  background-color: rgb(209, 221, 230);
}

.split-2 .active-text {
  color: rgb(0, 0, 0);
}

.split-2 ul {
  margin-top: 0px;
  padding-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.split-2 li {
  margin-left: 20px;
  margin-right: 20px;
}

.split-2 li a {
  color: rgb(40, 89, 120);
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.split-2 li a:hover {
  color: black;
}

/* Overview */
#overview {
  margin-top: 100px;
  margin-left: 30%;
  margin-right: 30%;
}

.planet-info {
  font-size: 22px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.planet-info a {
  color: rgb(67, 170, 237);
}

.planet-info a:hover {
  cursor: pointer;
  text-decoration: underline;
}


.message-box {
  border: rgb(140, 185, 220) 5px solid;
}

.box-wrapper-20 {
  padding: 20px;
}

.message-box h1 {
  color: rgb(30, 65, 95);
  font-size: 36px;
}

.message-box p {
  font-size: 22px;
  font-weight: 400;
}

.box-wrapper-30 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.box-wrapper-30 p {
  font-size: 22px;
  font-weight: 500;
}

.box-wrapper-30 a {
  color: rgb(67, 170, 237);
}

.box-wrapper-30 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Need to know section */
#need-to-know {
  margin-top: 100px;
  background-color: rgb(209, 221, 230);
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
}

#need-to-know .headline {
  text-align: center;
  padding-top: 160px;
  padding-bottom: 60px;
  font-size: 40px;
}

.box-wrapper {
  display: flex;
  flex-direction: row;
}

.box {
  padding-top: 20px;
  width: 33%;
  height: 238px;
  text-align: center;
  border-bottom: rgb(176, 202, 221) 1px solid;
  border-left: rgb(176, 202, 221) 1px solid;
}

.box-num {
  width: 60px;
  height: 40px;
  display: inline-block;
  padding-top: 17px;
  background-color: #b0cadd;
  border-radius: 50%;
}


.box-img {
  display: flex;
  width: 33.1%;
  align-items: center;
  justify-content: center;
}
.img-wrap {
   width: 100%; /*or whatever you choose*/
}
.img-wrap img {
   display: block;
   width: 100%;
   max-width: 500px; /*actual image width*/
   height: 260px; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}

/* FAQ Section */
#FAQ {
  margin-left: 25%;
  margin-right: 25%;
}

.faq-wrapper {
  padding-top: 80px;
  text-align: center;
  color: rgb(58, 58, 58);
}

#FAQ p {
  font-size: 24px;
  font-weight: 500;
}

#FAQ hr {
  margin-top: 40px;
}

#FAQ a {
  color: rgb(67, 170, 237);
}

#FAQ a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.faq-text-wrapper {
  margin-left: 5%;
  margin-right: 5%;
}

/* Footer */
footer {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.footer-outer {
  display: flex;
  flex-direction: row;
}










/* Responsive Nav */

@media screen and (max-width: 868px) {
  .toggle-button i {
    display: flex;
  }

  #navbar {
    background-color: rgb(30, 65, 95);
    display: flex;
    flex-direction: column;
  }

  #navbar li {
    display: none;
    width: 100%;
  }

  #navbar li a {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    font-size: 24px;
    background-color: rgb(30, 65, 95);
  }

  .shown {
    display: flex !important;
  }

  .sticky li a.active {
    background-color: rgb(30, 65, 95) !important;
  }

  .dropdown {
    display: flex;
    height: 100% !important;
    background-color: rgba(1, 1, 1, 0);
  }

  .dropbtn {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .dropdown-content {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: rgba(1, 1, 1, 0);
  }

  .dropdown-content a {
    margin-left: 25%;
    margin-right: 25%;
    align-self: center;
    padding-top: 40px;
    width: 100% !important;
    font-size: 18px !important;
    background-color: rgba(1, 1, 1, 0);
  }

  #navbar li a.active {
    height: 25px;
  }

  #navbar li a.active:hover {
    color: rgb(100, 255, 218);
  }


}
